# Data directories
/ckd/data/14 Mar/albu_matrix
/ckd/data/14 Mar
/ckd/data

# Output directories
/output

# CKD directory (if you want to ignore the entire directory)
ckd/*

# But keep this specific file
!ckd/analysis/
!ckd/analysis/popu_plot.py
.DS_Store
ckd/.DS_Store
ckd/analysis/.DS_Store
ckd/data/.DS_Store
data/.DS_Store
